
h1{
    color: royalblue;
    text-align: center;
    font-size: 30;
}

h2{
    color: rosybrown;
    text-align: center;
    font-size: 15;
}
body {
    background-color: lightblue;
  }

.b1{
    background-color: #008CBA; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}